*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}

/* Navigation Bar */
nav{
	display: flex;
	font-weight: bold;
	justify-content: space-around;
	align-items: center;
	height: 17vh;
    background-image: linear-gradient(to right, #fcfaf7, #ecd7a5);
}

.logo{
	font-size: 2.3rem;
	border-bottom: 5px solid #424242;
    color: #424242;
}

.logo:hover{
	cursor: default;
}

.menu_items{
	display: flex;
	font-weight: bold;
	gap: 2rem;
	list-style: none;
	font-size: 1.5rem;
}

.m_item{
	color: #4f4d4d;
	text-decoration: none;
}

.m_item:hover{
	color: #CA9E7B;
	text-decoration: underline;
	text-underline-offset: 0.9rem;
	text-decoration-color: #b89871;
}

#highlight{
	background-color: #d8b487;
	padding: 1rem;
	border-radius: 3rem;
}

#menu_bar{
	display: none;
	cursor: pointer;
	font-size: 1.5rem;
}


/* Contact */
/* Desktop */
    #main_contact{
        grid-template-columns: repeat(4,1fr);
        grid-auto-rows: minmax(150px, auto);
        display: grid;
        max-width: auto;
        margin: 0 auto;
        background-image: linear-gradient(to right, #e2dcd3, #dcc199);
    }

    .contact_heading{
        display: grid;
        align-items: center;
        grid-column:1/5 ;
        text-align:start;
        font-size: 5rcap;
    }
    .contact_info{
        grid-column: 1/3;
        grid-row: 2/6;
        overflow: hidden;
        padding: 30px;
        display: grid;
        grid-template-columns: 0.5fr 1.5fr ;
    }
    .aside_img{
        grid-column:3/5 ;
        grid-row: 2/6;
        display: grid;
    }
    footer{
        background: #c2b096;
        grid-column: 1/5;
        grid-row: 6/7;
        text-align: center;
    }

/* Mobile view */
@media (max-width: 992px){ 
#main_contact{
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: minmax(150px, auto);
    display: grid;
    max-width: auto;
    margin: 0 auto;
    background-image: linear-gradient(to right, #e2dcd3, #dcc199);
}

.contact_heading{
    
    grid-column:1/5 ;
    text-align:start;
    font-size: 5rcap;
}
.contact_info{
    grid-column: 1/5;
    grid-row: 2/5;
    overflow: hidden;
    padding: 30px;
    display: block;
    grid-template-columns: 0.5fr 1.5fr ;
}
.aside_img{
    grid-column:1/5 ;
    grid-row: 5/6;
    display: grid;
    max-width: 100%;
    height: auto;
}
.aside_img img{
    max-width: 100%;
    height: auto;
}
footer{
    background: #c2b096;
    grid-column: 1/5;
    grid-row: 6/7;
    text-align: center;
}
}


/* Contact info grid */
.contact_element{
	height: 120px;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	cursor: pointer;
}
.logo_image{
	font-size: 50px;
	padding: 0.7rem;
	height: 70px;
	width: 70px;
	border: 2px solid #3a3939;
	border-radius: 50%;
	transition: 0.3s linear;
}

.contact_element:hover .logo_image{
	background: none;
	transform: scale(1.2, 1.2);
}

.contact_element p{
	margin-top: 10px;
    font-size: 1.7rcap;
	font-weight: 600;
	opacity: 0;
	letter-spacing: 1px;
	transition: 0.3s linear;
    color: black;
}
.contact_element:hover p{
	max-height: 30px;
	opacity: 1;
}


